<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elementos</title>
    <style>
        div {
            height: 200px;
            width: 50%;
            background-color: red;
        }
        
        div.blue {
            background-color: blue;
            width: 50%;
        }
    </style>
</head>

<body>

    <p>Declara la altura y ancho de un elemento Este div tiene una altura de 200px y aun ancho de 50%</p>

    <div>
        <div class="blue"></div>
    </div>
</body>

</html>