<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector pseudo-clase</title>
    <style>
        /* Link no visitado*/
        
        a:link {
            color: red;
        }
        /* Link  visitado*/
        
        a:visited {
            color: green;
        }
        /* cursor sobre el Link*/
        
        a:hover {
            color: hotpink;
        }
        /* selecinado Link*/
        
        a:active {
            color: blue;
        }
    </style>
</head>

<body>
    <p><b><a href="https://www.google.com">Google</a></b></p>
</body>

</html>