<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores pseduo elementos</title>
    <style>
        p::first-letter {
            color: #ff0000;
            font-size: xx-large;
        }
        
        p::first-line {
            color: #0000ff;
            font-variant: small-caps;
        }
    </style>
</head>

<body>
    <p>se puede conbinar dos elementos de pseudo-elementos ::first-letter y ::first-line para agragar efectos, por ejemplo: La primera linea y la primera letra.
    </p>

</body>

</html>