<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckBox & Radio Button</title>
</head>

<body>
    <form action="/introducion_web/views/html/guardado.html" method="GET">

        <!--Radio Button-->
        <p>Genero:</p>
        <input type="radio" name="genero" id="hombre" value="hombre">
        <label for="hombre">Hombre</label>
        <br>
        <input type="radio" name="genero" id="mujer" value="mujer">
        <label for="muejer">Mujer</label>



        <br><br>
        <input type="submit" value="Guardar">
    </form>
</body>
<br>
<a href="/introducion_web/index.html">Inicio</a>

</html>